{% extends "base.html" %}

{% block body %}

    <div class="container">
        <h1>Edit Profile for {{current_user.fname}} {{current_user.lname}}</h1>
        <h3>{{current_user.role}}</h3>
        <hr>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <mark>
                    <strong>Error!</strong> {{field}}: {{error}} <br>
                </mark>
            {% endfor %}
        {% endfor %}
        <form method=post enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <tr><td colspan="2"><h3 class="text-light bg-dark ps-2 mt-3">Public Information</h3></td></tr>
                        <tr>
                            <td colspan="2">
                                {{ form.hidden_tag() }}
                                Pronouns: {{ form.pronouns() }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.fname.label }}<br>{{ form.fname }}</td>
                            <td>{{ form.lname.label }}<br>{{ form.lname() }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.image.label }}<br>
                                {% if editUser.image %}
                                    <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(editUser.image.read())}}"> <br>
                                {% else %}
                                    <img class="img-thumbnail" width = "100" src="/static/lion.png">
                                {% endif %}
                            </td>
                            <td>
                                {{ form.image() }}
                            </td>
                        </tr>
                        <tr><td>linkedin</td> <td>{{form.linkedin()}}<br><small>Must begin with https://</small></td> </tr>


                        <tr><td colspan="2"><h3 class="text-light bg-dark ps-2 mt-3">Private Information</h3></td></tr>


                        <tr><td>Your Mobile:</td><td>{{ form.mobile() }}</td></tr>
                        <tr><td colspan=2>Personal Email:<br>{{form.personalemail()}}</td></tr>
                        <tr><td colspan="2">How do you describe your gender?:<br>{{form.ugender(cols="75")}}</td></tr>
                        <tr><td colspan="2">
                            How do you describe your ethnicity? This is the "official" OUSD list (select all that apply)?:<br>
                            {% for item in form.uethnicity %}
                                {{item}} {{item.label}} <br>
                            {% endfor %}
                            Is there a different way you would like to describe your ethnicity? <br>
                            {{form.uethnicityother(cols="75")}}
                        </td></tr>
                        <tr><td>Shirt Size</td> <td>{{form.shirtsize()}}</td> </tr>
                        <tr><td>Other Phone:</td><td>{{ form.altphone() }}</td></tr>
                        <tr><td colspan ="2">Street Address Line 1:<br>{{ form.ustreet(size="100") }}</td></tr>
                        <tr><td colspan ="2">Street Address Line 2:<br>{{ form.ustreet2(size="100") }}</td></tr>
                        <tr><td>City</td><td>State &nbsp;  &nbsp;  &nbsp; Zip</td></tr>
                        <tr><td>{{form.ucity()}}</td><td>{{form.ustate(value="CA", size="2")}} {{form.uzipcode(size="5")}}</td></tr>
                        <tr><td>lat: {{form.lat()}}</td><td>lon: {{form.lon}}</td></tr>
                        <tr><td colspan="2">{{form.submit()}}</td></tr>
                    </table>
                </div>
                <div class="col-5">
                </div>
            </div>
        </form>
    </div>

{% endblock %}}