

{% extends "base.html" %}
{% block body %}
<div class="container">
<div class="row" id="ProfileHead">
    <h1>
        {{currUser.fname}} {{currUser.lname}}
        {% if currUser.pronouns %}({{ currUser.pronouns }}){% endif %}
        {% if current_user == currUser %}                     
        <a href="/editprofile">
            <img width="40" src="/static/edit.png"></a>
        </a>
        {% endif %}
    </h1>

    <h3>Roles: 
    {% for r in currUser.roles %}
        {{r.name}} 
    {% endfor %} </h3>
    {#
    {% if current_user.has_role("teacher") %}
        <a href="/createstudentfolder/{{currUser.oemail}}">Create a portfolio folder</a>
    {% endif %}
    #}
    <div class="col-md-4">
        {% if currUser.image %}
            <img class="img-thumbnail" width = "200" src="data:image;base64,{{base64encode(currUser.image.read())}}">
        {% else %}
            <img class="img-thumbnail" width = "100" src="/static/lion.png">
        {% endif %}
        </div>

</div><!--ProfileHead-->

<hr>

<div class="row" id="StudentRowOne">
    <div class="col"> <!--Student's Custom Info-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">   
                </h5>
                <p class="card-text">
                    <a href="/editprofile/{{currUser.id}}"><img width="20" src="/static/edit.png"></a> <br>
                    {% if currUser.pronouns %} <b>Pronouns:</b> {{currUser.pronouns}} <br>{% endif %} 
                    {% if currUser.linkedin %}<b>LinkedIn:</b> {{currUser.linkedin}} <br> {% endif %}

                    {% if currUser == current_user or current_user.role.lower() == "teacher" %}
                        Aeries ID:{{currUser.aeriesid}} <br>
                        School Email: {{currUser.oemail}} <br>
                        Grade: {{currUser.grade}} <br>

                        {% if currUser.uethnicity %}
                            <b>Ethnicity:</b> 
                            {% for ethnicity in currUser.uethnicity %}
                                {{ethnicity}}{% if loop.index < loop.length %}, {% endif %}
                            {% endfor %} 
                        {% endif %}<br>

                        {% if currUser.uethnicityother %}
                            <b>Ethnicity (non-OUSD Description):</b> {{currUser.uethnicityother}}<br>
                        {% endif %} 

                        {% if currUser.mobile %}
                            <b>Mobile:</b> 
                            <a href="/msg/{{currUser.id}}/{{currUser.mobile}}">{{formatphone(currUser.mobile)}}</a>
                        {% endif %}<br>

                        {% if currUser.altphone %}
                            <b>Other Phone:</b> {% if currUser.altphone %}{{formatphone(currUser.altphone)}}{% endif %} <br>
                        {% endif %}

                        {% if currUser.personalemail %}<b>Personal Email:</b> {{currUser.personalemail}}{% endif %} <br>
                        {% if currUser.ugender %}
                            <b>Gender:</b> {% if currUser.ugender %}{{currUser.ugender}} {% endif %}<br>
                        {% endif %}

                        <b>Address:</b> <br>
                        <span class="ms-2">
                            {% if currUser.ustreet %}
                            {% set street = currUser.ustreet %}
                            {{currUser.ustreet}}
                            {% elif currUser.astreet %}
                            {{currUser.astreet}}
                            {% set street = currUser.astreet %}
                            {% endif %} <br>
                        </span>
                        {% if currUser.ustreet2 %}
                        <span class="ms-2">
                            {{currUser.ustreet2}}<br>
                        </span>
                        {% endif %} 
                        <span class="ms-2">
                            {% if currUser.ucity %}
                            {{currUser.ucity}}
                            {% set city = currUser.ucity %}
                            {% elif currUser.acity %}
                            {{currUser.acity}}
                            {% set city = currUser.acity %}
                            {% endif %} 
                            {% if currUser.ustate %}
                            {{currUser.ustate}}
                            {% elif currUser.astate %}
                            {{currUser.astate}}
                            {% endif %}  
                            {% if currUser.uzipcode %}
                            {{currUser.uzipcode}}
                            {% set zip = currUser.uzipcode %}
                            {% elif currUser.azipcode %}
                            {{currUser.azipcode}}
                            {% set zip = currUser.azipcode %}
                            {% endif %} <br>
                        </span>
                        <span class="ms-2">
                            {% if street %}
                                <a href="https://www.google.com/maps/search/?api=1&query={{city}}+CA+{{street}}+{{zip}}" target='_blank'>Map</a> <br>
                            {% endif %}
                        </span>
                        <span class="ms-2">
                            
                                {{currUser.lat}}, {{currUser.lon}} <br>
                            
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% if currUser.role.lower() == "teacher" and currUser == current_user %}
    <div class="row"> <!--Groups-->
        <div class="col-12">
            {% if groups %}
                {% for group in groups %}
                <a data-bs-toggle="collapse" href="#collapse{{loop.index}}" role="button" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                    <img width="20" src="static/collapse.png">
                </a>
                    {% set ns = namespace(emails="") %}
                    {% for stu in group.students %}
                        {% set ns.emails = ns.emails + stu.oemail + ", " %}
                    {% endfor %}
                    <a data-toggle="tooltip" data-placement="top" title="Send a txt msg to everyone" href="/groupmsgto/{{group.id}}"><img width="20" src="static/txt.png"></a>
                    <a data-toggle="tooltip" data-placement="top" title="Delete this group" href="/deletegroup/{{group.id}}"><img width="20" src="static/delete.png"></a>
                    <a data-toggle="tooltip" data-placement="top" title="Get Parent Emails" href="/groupaddresses?emails={{ns.emails}}">P's</a> | 
                    <b>{{group.name}} ({{group.students|length}}):</b> {{group.desc}} <br>
                    <div class="collapse" id="collapse{{loop.index}}">
                    {{ns.emails}}
                    <br>
                </div>
                {% endfor %}
            {% else %}
                No Groups Yet. make some --> <a href="/newgroup"><img width="20" src="static/new.png"></a>
            {% endif %}
            <hr>
        </div>
    </div>
    {% endif %}

</div>  
{% endblock %}

