{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>Internship Edit</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>Site Name: {{ form.site_name(class="form-control")}}</p>
            <p>CCPA Staff Contact Email Address: {{ form.ccpa_staff(class="form-control",placeholder="ccpa.staff@ousd.org") }}</p>
            <p class="text-light bg-dark ps-2 mt-3"><b>Site Information</b></p>
            <p>
            {% if iship and iship.image %}
                <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(iship.image.read())}}"> <br>
            {% else %}
                <img class="img-thumbnail" width = "100" src="/static/lion.png">
            {% endif %}
            </p>
            <p>Image: {{ form.image(class="form-control")}}</p>
            <p>Vision: {{ form.vision(class="form-control")}}</p>
            <p>Mission: {{ form.mission(class="form-control")}}</p>
            <p>Street: {{ form.street(class="form-control")}}</p>
            <p>Apt or Office # (optional): {{ form.street2(class="form-control")}}</p>
            <div class="row">
                <div class="col-md">
                    City: {{ form.city(class="form-control")}}
                </div>
                <div class="col-md col-lg-1">
                    State: {{ form.state(class="form-control")}}
                </div>
                <div class="col-md">
                    Zipcode: {{ form.zipcode(class="form-control")}}
                </div>
            </div>
            <p class="pt-3">Phone:</p>
            <div class="row row-cols-auto text-center">
                
                <div class="col-md col-lg-2">
                    <div class="input-group">
                        <div class="input-group-text">(</div>
                        {{ form.phone_areacode(class="form-control",placeholder="510") }}
                        <div class="input-group-text">)</div>
                    </div>
                </div>
                <div class="col-md col-lg-1">
                    {{ form.phone_prefix(class="form-control",placeholder="555") }}
                </div>
                <div class="col-md col-lg-2">
                    {{ form.phone_suffix(class="form-control",placeholder="5555") }}
                </div>
            </div>
            <p class="text-light bg-dark ps-2 mt-3"><b>Site Contact Person</b></p>
            <div class="row">
                <div class="col">
                    <p>{{ form.contact_fname(class="form-control",placeholder="first name")}}
                </div>
                <div class="col">
                    {{ form.contact_lname(class="form-control",placeholder="last name")}}
                </div>
            </div>
            <p>Contact Email: {{ form.contact_email(class="form-control")}}</p>
            <p>Contact Phone:</p>
            <div class="row">
                <div class="col-smd col-lg-2">
                    <div class="input-group">
                        <div class="input-group-text">(</div>
                        {{ form.contact_phone_areacode(class="form-control",placeholder="510") }}
                        <div class="input-group-text">)</div>
                    </div>
                </div>
                <div class="col-md col-lg-1">
                    {{ form.contact_phone_prefix(class="form-control",placeholder="555") }}
                </div>
                <div class="col-md col-lg-2">
                    {{ form.contact_phone_suffix(class="form-control",placeholder="5555") }}
                </div>
            </div>                
            <p class="text-light bg-dark ps-2 mt-3">Notes</p>
                <p>{{form.notes(class="form-control")}}</p>
            <p>{{form.submit(class="form-control btn-primary")}}</p>
        </form>
    </div>
{% endblock %}
