{% extends 'base.html' %}

{% block body %}

<div class="container">

<h1 class="display-1">{{internship.site_name}}</h1>
<a data-toggle="tooltip" data-placement="top" title='Edit' href="/internship/edit/{{internship.id}}"><img width="40" src="/static/edit.png"></a> 
<a data-toggle="tooltip" data-placement="top" title='Delete' href="/internship/delete/{{internship.id}}"><img width="40" src="/static/delete.png"></a> 
{% if current_user in internship.ccpa_students %}
    <a data-toggle="tooltip" data-placement="top" title='New Timesheet' href="/internship/newtimesheet/{{internship.id}}">
        <img src="/static/timesheet.png" width="40">
    </a>
{% endif %}

<div class="row">
    <div class="col">
        <p><b>CCPA Staff Contact:</b> {{internship.ccpa_staff.fname}} {{internship.ccpa_staff.lname}}</p>
        <b>Site Information</b> <br>
        {% if internship.phone %}
            ({{internship.phone[:3]}}) {{internship.phone[3:6]}}-{{internship.phone[6:]}} <br>
        {% endif %}
        {{internship.street}} 
        {% if internship.street2 %}
        <br>{{internship.street2}} 
        {% endif %}
        <br>
        {{internship.city}}, {{internship.state}}  {{internship.zipcode}} 
        {% if internship.lat %}
        <br>{{internship.lat}}/{{internship.lon}} 
        {% endif %}
        <br>
        <hr>
        
        <b>Site Contact</b> <br>
        {{internship.contact_fname}} {{internship.contact_lname}} <br>
        {{internship.contact_email}} <br>
        {% if internship.contact_phone %}
            ({{internship.contact_phone[:3]}}) {{internship.contact_phone[3:6]}}-{{internship.contact_phone[6:]}} <br>
        {% endif %}        
    </div>
    <div class="col">

<b>Students Currently Enrolled:</b> <br>
{% for stu in internship.ccpa_students %}
    <a href="/internship/unenrollstu/{{stu.id}}/{{internship.id}}"><img width="20" src="/static/delete.png"></a>
    <a     {% if stu.mobile and current_user in internship.ccpa_students %} data-toggle="tooltip" data-placement="top" title="{{formatphone(stu.mobile)}}"{% endif %} href="/profile/{{stu.id}}">{{stu.fname}} {{stu.lname}}</a> 
    <br>
{% endfor %}
<a data-bs-toggle="collapse" href="#collapseEnrollForm" aria-expanded="false" aria-controls="collapseEnrollForm">
    <img src="/static/collapse.png" width="20">
</a>
<div class="collapse" id="collapseEnrollForm">
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-error">
                <strong>Error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}
    <b>Add Students</b>
    <form method=post>
    {{ form.hidden_tag() }}
    Type a comma seperated list of one or more student email addresses to add them to this internship. <br>
    {{ form.csv(cols="80",rows="8") }} <br>
    {{form.submit()}}
    </form>
</div>
<hr>
<p><b>Timesheets</b></p>
{% for tsheet in timesheets %}
    <a href="/internship/timesheet/{{tsheet.id}}">{{tsheet.intern.fname}} {{tsheet.intern.lname}}</a> <br>
{% endfor %}
<br>
    </div>
</div>
<hr class="border border-dark border-3">
<b>Notes:</b> <br>
{{internship.notes}}

</div>
{% endblock %}