{% extends 'base.html' %}

{% block body %}

<div class="container">

    <h1 class="display-1">{{internship.site_name}}</h1>
    <a data-toggle="tooltip" data-placement="top" title='Edit' href="/internship/edit/{{internship.id}}"><img width="40" src="/static/edit.png"></a> 
    <a data-toggle="tooltip" data-placement="top" title='Delete' href="/internship/delete/{{internship.id}}"><img width="40" src="/static/delete.png"></a> 

    <hr>
    <div class="row">
        <div class="col">
            <b>
                Vision:
            </b> 
            <a data-toggle="tooltip" data-placement="top" title="An organization's vision describes the organization that the world would like to see. A vision statement is big and inspiring." href="#">
                <img width="20" src="/static/info.png">
            </a> 
            {{internship.vision}} <br>
            <b>
                Mission:
            </b> 
            <a data-toggle="tooltip" data-placement="top" title="An organization's mission is often smaller or more specific than their vision. A mission can usually be measured." href="#">
                <img width="20" src="/static/info.png">
            </a> 
            {{internship.mission}}
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-lg-12 col-xl-4">
            {% if internship.image %}
                <img class="img-fluid" src="data:image;base64,{{base64encode(internship.image.read())}}"> <br>
            {% endif %}
            <p><b>CCPA Staff Contact:</b> {{internship.ccpa_staff.fname}} {{internship.ccpa_staff.lname}}</p>
            <b>Site Information</b> <br>
            {% if internship.phone %}
                ({{internship.phone[:3]}}) {{internship.phone[3:6]}}-{{internship.phone[6:]}} <br>
            {% endif %}
            {{internship.street}} 
            {% if internship.street2 %}
            <br>{{internship.street2}} 
            {% endif %}
            <br>
            {{internship.city}}, {{internship.state}}  {{internship.zipcode}} 
            {% if internship.lat %}
            <br>{{internship.lat}}/{{internship.lon}} 
            {% endif %}
            <br>
            <hr>
            
            <b>Site Contact</b> <br>
            {{internship.contact_fname}} {{internship.contact_lname}} <br>
            {{internship.contact_email}} <br>
            {% if internship.contact_phone %}
                ({{internship.contact_phone[:3]}}) {{internship.contact_phone[3:6]}}-{{internship.contact_phone[6:]}} <br>
            {% endif %}        
        </div>
        <div class="col-lg-12 col-xl-8">
            <b>
                Students Currently Enrolled:
                <a data-toggle="tooltip" data-placement="top" title="If you are enrolled in this internship you can mouse over a student to see their mobile number. Edit you profile page to have your number show up here.To enroll new students click the expand icon right after the last enrolled student.
                " href="#"><img width="20" src="/static/info.png"></a>
                <a data-toggle="tooltip" data-placement="top" title="Enroll more students" data-bs-toggle="collapse" href="#collapseEnrollForm" aria-expanded="false" aria-controls="collapseEnrollForm">
                    <img src="/static/new.png" width="20">
                </a>
            </b> <br>
            {% for stu in internship.ccpa_students %}
                <a href="/internship/unenrollstu/{{stu.id}}/{{internship.id}}"><img width="20" src="/static/delete.png"></a>
                <a href="/profile/{{stu.id}}">
                    {{stu.fname}} {{stu.lname}}
                </a>
                {% if stu.mobile and (current_user in internship.ccpa_students or current_user.role.lower() == "teacher") %}
                    - <a data-toggle="tooltip" data-placement="top" title="{{formatphone(stu.mobile)}}" href="#">
                        <img width="30" src="/static/phone.png">
                    </a>
                {% endif %}
                <br>
            {% endfor %}
            <div class="collapse" id="collapseEnrollForm">
                {% for field in form.errors %}
                    {% for error in form.errors[field] %}
                        <div class="alert alert-error">
                            <strong>Error!</strong>{{field}}: {{error}}
                        </div>
                    {% endfor %}
                {% endfor %}
                <b>Add Students</b>
                <form method=post>
                {{ form.hidden_tag() }}
                Type a comma seperated list of one or more student email addresses to add them to this internship. <br>
                {{ form.csv(class="form-control", cols="60",rows="4") }} <br>
                {{form.taSubmit(class="form-control")}}
                </form>
            </div>
            <hr>
            <p>
                <b>Timesheets</b>
                {% if current_user in internship.ccpa_students %}
                    <a data-toggle="tooltip" data-placement="top" title='New Timesheet' href="/internship/newtimesheet/{{internship.id}}">
                        <img src="/static/timesheet.png" width="30">
                    </a>
                {% endif %}
            </p>
            {% for tsheet in timesheets %}
                <a href="/internship/timesheet/{{tsheet.id}}">{{tsheet.intern.fname}} {{tsheet.intern.lname}}</a> <br>
            {% endfor %}
            <hr>
            <p>
                <b>
                    Impact
                    <a data-toggle="tooltip" data-placement="top" title='This section contains goals with specific measuremets that the organization believes will help them know if they are acheiving theri mission.' href="#">
                        <img width="20" src="/static/info.png">
                    </a> 
                </b>
                <a data-bs-toggle="collapse" href="#collapseImpactForm" aria-expanded="false" aria-controls="collapseImpactForm">
                    <img src="/static/new.png" width="20">
                </a>
            </p>
            {% if internship.impact %}
            <table class="table table-sm">
                <tr>
                    <th></th><th>Metric</th><th>How is this collected?</th><th>How is this connected to the mission?</th>
                </tr>
                {% for i in internship.impact %} 
                    <tr>
                        <td>
                            <a href="/internship/deleteimpact/{{internship.id}}/{{i.oid}}"><img width="20" src="/static/delete.png"></a>
                        </td>
                        <td>
                            {{i.metric}}
                        </td>
                        <td>
                            {{i.howCollected}}
                        </td>
                        <td>
                            {{i.howConnected}}
                        </td>
                    </tr>

                {% endfor %}
            </table>
            {% endif %}

            <div class="collapse" id="collapseImpactForm">
                <form method=post>
                    {{ form.hidden_tag() }}
                    <p>
                        Metric: {{impactForm.metric(class='form-control')}}
                    </p>
                    <p>
                        How is this metric collected? {{ impactForm.howCollected(class="form-control", cols="60",rows="4") }}
                    </p>
                    <P>
                        How is this connected to the mission? {{ impactForm.howConnected(class="form-control", cols="60",rows="4") }}
                    </P>
                    {{impactForm.impactSubmit()}}
                </form>
            </div>


        </div>
        <div class="col-lg-12 col-xl-12">
            <br><hr>
            <p>
                <b>Activities</b>
                <a data-bs-toggle="collapse" href="#collapseActivityForm" aria-expanded="false" aria-controls="collapseActivityForm">
                    <img src="/static/new.png" width="20">
                </a>
            </p>
            {% if internship.activities %}
            <table class="table table-sm">
                <tr>
                    <th></th><th>Title</th><th colspan="3">Description</th>
                </tr>
            {% for act in internship.activities %}
            <tr>
                <td>
                    <a href="/internship/deleteactivity/{{internship.id}}/{{act.oid}}"><img width="20" src="/static/delete.png"></a>
                </td>
                <td>{{act.title}}</td>
                <td colspan="3">{{act.desc}}</td>
            </tr>
            {% endfor %}
            </table>
            {% endif %}

            <div class="collapse" id="collapseActivityForm">
                <p><b>Add an Activity</b></p>
                <form method=post>
                    {{ activityForm.hidden_tag() }}
                    <p>Title: {{activityForm.title(class="form-control")}}</p>
                    <p>Activity Description: {{activityForm.desc(class="form-control")}}</p>
                    <p>{{activityForm.activitySubmit(class="form-control")}}</p>
                </form>
            </div>
        </div>
    </div>
    <hr class="border border-dark border-3">
    <p>
        <b>Stakeholders</b>
        <a data-bs-toggle="collapse" href="#collapseStakeholderForm" aria-expanded="false" aria-controls="collapseStakeholderForm">
            <img src="/static/new.png" width="20">
        </a>
    </p>

    {% if internship.stakeholders %}
        <table class="table table-sm">
            <tr>
                <th></th><th>Title</th>
                <th>
                    Persona Name
                    <a data-toggle="tooltip" data-placement="top" title="A 'persona' is an imaginary person that is the best example of a particular stakeholder. A persona is imagined as a real person and described in a way that describes that persons value and ow their needs are met by your organization." href="#">
                        <img width="20" src="/static/info.png">
                    </a> 
                </th>
                <th>Persona Story</th>
            </tr>
            {% for sh in internship.stakeholders %}
            <tr>
                <td>
                    <a href="/internship/deletestakeholder/{{internship.id}}/{{sh.oid}}"><img width="20" src="/static/delete.png"></a>
                </td>
                <td>
                    {{sh.title}}
                </td>
                <td>
                    {{sh.name}}
                </td>
                <td>
                    {{sh.story}}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <div class="collapse" id="collapseStakeholderForm">
        <p><b>Add a Stakeholder</b></p>
        <form method=post>
            {{ stakeholderForm.hidden_tag() }}
            <div class="row">
                <div class="col">
                    <p>Title: {{stakeholderForm.title(class="form-control")}}</p>
                </div>
                <div class="col">
                    <p>Persona Name: 
                        <a data-toggle="tooltip" data-placement="top" title="A 'persona' is an imaginary person that is the best example of a particular stakeholder. A persona is imagined as a real person and described in a way that describes that persons value and ow their needs are met by your organization." href="#">
                            <img width="20" src="/static/info.png">
                        </a> 
                        {{stakeholderForm.name(class="form-control")}}
                    </p>
                </div>
            </div>
            <p>Persona Story: {{stakeholderForm.story(class="form-control")}}</p>
            <p>{{stakeholderForm.stakeholderSubmit(class="form-control")}}</p>
        </form>
    </div>
    <p>
        <b>Notes:</b>
        <a data-toggle="tooltip" data-placement="top" title='Edit' href="/internship/edit/{{internship.id}}">
            <img width="30" src="/static/edit.png">
        </a> 
    </p>
    {{internship.notes}}

</div>
{% endblock %}