{% extends 'base.html' %}

{% block body %}

<div class="container">

<h3 class="display-5">
    <a href="/internship/tsdelete/{{ts.id}}"><img src="/static/delete.png" width="40"></a>
    Timesheet
</h1>
<div class="row">
    <div class="col-10">
        
    </div>
    <div class="col-2">
        <a class="btn btn-primary btn-sm" role="button" href="/sig/new/{{ts.id}}">Sign</a>
        <a class="btn btn-primary btn-sm" role="button" href="/internship/timesheet/{{ts.id}}/print">Print</a>
    </div>

</div>
<h3>{{ts.internship.site_name}}</h3>
<h3>{{ts.intern.fname}} {{ts.intern.lname}}</h3>
<h3>Total Hours: {{ts.totalHrs}}</h3>
<table class="table">
    <tr>
        <th></th><th>Date</th><th>Hours</th><th>Start</th><th>End</th><th>Create Date</th>
    </tr>
    {#{% for day in ts.days | sort(attribute='start_datetime') %}#}
    {% for day in ts.days %}
    <tr>
        <td>
            <a href="/internship/deletetsday/{{ts.id}}/{{day.oid}}"><img width="20" src="/static/delete.png"></a>
        </td>
        <td>
            {{moment(day.start_datetime).format('dddd M/D/YYYY')}}
        </td>
        <td>
            {{day.hrs}}
        </td>
        <td>
            {{moment(day.start_datetime).format('h:mm a')}}
        </td>
        <td>
            {{moment(day.end_datetime).format('h:mm a')}}
        </td>
        <td>
            {{moment(day.createdate).calendar()}}
        </td>
    </tr>
    {% if day.desc %}
        <tr>
            <td></td>
            <td colspan="5">
                {{day.desc}}
            </td>
        </tr>

    {% endif %}
    {% endfor %}
</table>
<br>
<br>

{% if current_user == ts.intern %}
<hr class="border border-dark border-3">
<h3>Add a new day</h3>
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div class="alert alert-error">
            <strong>Error!</strong>{{field}}: {{error}}
        </div>
    {% endfor %}
    {% endfor %}
    <form method=post>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-2">
            Date:
            {{form.date(class="form-control")}}
        </div> 
        <div class="col-1">
            Start Time:
            {{form.start_time_hr(class="form-control")}}
        </div> 
        <div class="col-1">
            &nbsp;
            {{form.start_time_min(class="form-control")}}
        </div> 
        <div class="col-1">
            &nbsp;
            {{form.start_time_am_pm(class="form-control")}}
        </div>
        <div class="col-1">
            End Time:
            {{form.end_time_hr(class="form-control")}}
        </div> 
        <div class="col-1">
            &nbsp;
            {{form.end_time_min(class="form-control")}}
        </div> 
        <div class="col-1">
            &nbsp;
            {{form.end_time_am_pm(class="form-control")}}
        </div>
        <div class="col-1">
            &nbsp;
            {{form.submit(class="form-control btn-primary")}}
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            What did you do?
            {{form.desc(class="form-control")}}
        </div>
    </div>


    </form>
{% endif %}

</div>

{% endblock %}