<!--This is the Home page of the site-->

{% extends "base.html" %}

{% block body %}
<!--This is the home page -->

<div class="container">
    <h3>
        This site has Google Classroom integrations so if you have not logged in before it will ask you to allow access to your Google Classroom data.
        This data is not sent anywhere and is just being used to run some analytics of student work. If at any point you want to revoke 
        this access just click the "Revoke" link when you are logged in.  If you have any questions, please reach out to Steve Wright.
        Login to this site is also restricted to ousd.org email addresses only.
    </h3>

    <div class="jumbotron text-center">

                <h1>CCPA</h1>

                <img src="/static/lion.png">

    </div>
</div>
        



{% endblock %}
