{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col">
        <h1 class="display-4">Minesweeper</h1>
        <iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/dg69EO1VgIbU4tAD2DIQE5Yp6__fhWoN-O-nojy3v5s/embed"></iframe>
    </div>
    <div class="col">
        <h1 class="display-4">Connect 4</h1>
        <iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/xg0MmgnPR1vHqN2NfjiMQwnv0ng6CbsjkIoDR1AVrlo/embed"></iframe>
    </div>
    <div class="col">
        <h1 class="display-4">Tic Tac Toe</h1>
        <iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/PrDzpt0O7_rntdfEPixYSOoYRS01RqSwogietwYgR8E/embed"></iframe>
    </div>
    <div class="col">
        <h1 class="display-4">Hangman</h1>
        <iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/daDP9l01nrMfkErABEZb-x4W1x6FlbEkljv6l_d8a4A/embed"></iframe>
    </div>
</div>
{% endblock %}