{% extends 'base.html' %}

{% block body %}
<div class="container">

<h1 class="display-3">{{gClassroom.gclassdict['name']}}</h1>
{% if current_user.role.lower() == "teacher" %}
Last <a href="/getstudsubs/{{gClassroom.gclassid}}?{{request.environ.PATH_INFO}}">Update</a> of student submisions: 
{{moment(gClassroom.studsubsdict['lastUpdate']).calendar()}}
{% endif %}

<h1 class="display-4">How many iterations of each assignment</h1>
{{subItersDFHTML}}

<h1 class="display-4">How many of each state for each assignment</h1>
{{subsDFHTML}}

<h1 class="display-3">On Time Percentages</h1>

<div class="row">
   <div class="col">
      <div class="row">
         <div class="col">
            <h1 class="display-6">Median: {{median}}</h1>
            <small>Orange Line</small>
         </div>
         <div class="col">
            <h1 class="display-6">Mean: {{mean}}</h1>
            <small>Green Triangle</small>
         </div>
      </div>
      <img class="img-fluid" src="/static/{{gClassroom.gclassid}}.png">
      <small>If you don't see an image here, refresh the screen and it should show up.</small>
   </div>

{% if current_user.role == "Teacher" %}
   <div class="col">
      {{displayDFHTML}}
   </div>   
</div>

<h1 class="display-4">How many of each state for each student</h1>
{{subsStuDFHTML}}
{% endif %}




{% endblock %}